<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_door_animation_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{800,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{880,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{960,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1040,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1120,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1200,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1280,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1360,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1440,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1520,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{480,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{560,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{640,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_door_animation_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{720,0},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>door.png</string>
            <key>size</key>
            <string>{1600,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c8ecdf945cd281ea351c159797f264:cec659fe76e62214166d9f9cb01abf76:db7a2f380db9915dc051ce2c1170bc84$</string>
            <key>textureFileName</key>
            <string>door.png</string>
        </dict>
    </dict>
</plist>
