<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_hurtfly_begin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtfly_begin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{57,0},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtfly_loop_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{114,0},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtfly_loop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{171,0},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtfly_loop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{228,0},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtfly_loop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{285,0},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtground_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{342,0},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{399,0},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{456,0},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtground_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{513,0},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtground_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{570,0},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_hurtground_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{627,0},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pdie.png</string>
            <key>size</key>
            <string>{684,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31f5d01c8a8ee94a55ffaf3e25d1a60f:9f40e964b16703f8df1ce9923cad0cc7:f2dc4b5c4401fd59bc27100698cb78ae$</string>
            <key>textureFileName</key>
            <string>pdie.png</string>
        </dict>
    </dict>
</plist>
